/* Base styles
--------------------------------------------------------------------------- */
/* 
Apply a natural box layout to all elements, but allowing components to change. 
https://css-tricks.com/box-sizing/ 
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* font size 62.5% is equal to 10px (use rem units below) */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: Noto Serif JP;
  font-size: 1.6rem;
  background: #EFF3EF;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: adobe-jenson-pro-display, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.08em;
}

p {
  // line-height: 3rem;
  font-family: Noto Serif JP;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.08em;
  margin: 0;
}

a {
  font-family: Noto Serif JP;
  color: #000;
  text-decoration: none;
}

/* Styles and media queries
---------------------------------------------------------------------- */

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2.2rem 2.2rem 0;
  background: url('/img/flowers.png'), url('/img/title.png');
  background-repeat: no-repeat;
  background-position: right, 5%;
  background-position-y: top;
  background-size: initial;
}

@media only screen and (min-width: 994px) {
  .wrapper {
    padding: 0;
  }
}

.header {
  &__image {
    width: 100vw;

    &--desktop {
      display: none;
    }
  }

  &__title {
    font-size: 3.6rem;
    margin-bottom: .5rem;
  }

  &__paragraph {
    font-family: adobe-jenson-pro-display, serif;
    font-weight: 300;
    font-size: 1.8rem;
    margin-top: .5rem;
    letter-spacing: 0.08em;
  }
}

@media only screen and (min-width: 994px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.8rem;
    flex-grow: 1;

    &__title-container {
      margin-left: -20rem;
      text-align: left;
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 5rem;
      line-height: 6rem;
    }

    &__paragraph {
      font-size: 2.4rem;
    }

    &__image {
      display: none;

      &--desktop {
        display: block;
        height: 100vh;
        padding: 1.5rem 1.5rem 0;
      }
    }
  }

  @media only screen and (min-width: 1694px) {
    .header {
      margin-top: 16.8rem;
    }
  }

  .container-intro {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: url('/img/flowers.png'), url('/img/title.png');
    background-repeat: no-repeat;
    background-position: 60%, 5%;
    background-position-y: top;
    background-size: initial;
  }
}

.instruction-section {
  animation-name: appear;
  animation-duration: 1.5s;
  text-align: center;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;

  &__header {
    font-family: Noto Serif JP;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.08em;
  }

  &__paragraphs {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
  }

  & input {
    width: 27.8rem;
    align-self: center;
    height: 3.6rem;
    padding: 1rem;
    background: #FFFFFF;
    color: #999999;
    letter-spacing: 0.08em;
    border: 1px solid #9A908B;
    margin: 1rem 0;
    outline-color: #948D8B;
  }
}

@media only screen and (min-width: 994px) {
  .instruction-section {
    margin: 1.5rem 0;

    & input {
      max-width: 26.6rem;
      height: 3.6rem;
      padding: 1rem;
      background: #FFFFFF;
      color: #999999;
      letter-spacing: 0.08em;
      border: 1px solid #9A908B;
      margin: 1rem 0;
      outline-color: #948D8B;
    }
  }
}

.game-section {
  display: none;
  flex-direction: column;
  animation-name: appear;
  animation-duration: 1.5s;

  &__header {
    text-align: center;
    font-family: Noto Serif JP;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.08em;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 994px) {
  .game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    flex-grow: 1;
    animation-name: appear;
    animation-duration: 1.5s;

    &__title-container {
      margin-left: -20rem;
      text-align: left;
      margin-bottom: 0;
    }

    &__title {
      font-size: 5rem;
      line-height: 6rem;
    }

    &__header {
      margin-top: 4rem;
    }
  }
}

@media only screen and (min-width: 1694px) {
  .game-section {
    margin-top: 16rem;
  }
}

@media only screen and (min-width: 994px) {
  .container-game {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: url('/img/flowers.png'), url('/img/title.png');
    background-repeat: no-repeat;
    background-position: 60%, 5%;
    background-position-y: top;
    background-size: initial;
  }
}

.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 16rem;
  padding: 1rem 0 0 0;

  &-box {
    margin: 0 1rem;
    cursor: pointer;

    &__image {
      max-width: 8.6rem;

      &--rock {
        max-width: 8.6rem;
        border: 1px solid #9791A8;
        box-shadow: 0px 0px 30px rgba(151, 145, 168, 0.5);
      }

      &--paper {
        max-width: 8.6rem;
        border: 1px solid #948D8B;
        box-shadow: 0px 0px 30px rgba(151, 144, 142, 0.5);
      }

      &--scissors {
        max-width: 8.6rem;
        border: 1px solid #DF6A6F;
        box-shadow: 0px 0px 30px rgba(226, 125, 128, 0.5);
      }
    }

    &__name {
      text-align: center;
      font-size: 1.8rem;
    }
  }
}

.play-btn {
  margin: 1rem auto;
  width: 13.6rem;
  height: 3.6rem;
  background: #FFFFFF;
  border: 1px solid #9A908B;
  font-family: Noto Serif JP;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
}

@media only screen and (min-width: 994px) {
  .play-btn {
    &:hover span {
      display: none;
    }

    &:hover:before {
      content: "ぽん!";
    }
  }
}

.results {
  animation-name: appear;
  animation-duration: 1.5s;
  margin-bottom: 10rem;
}

.scores {
  animation-name: appear;
  animation-duration: 1.5s;
  margin-bottom: 10rem;
}

@media only screen and (min-width: 994px) {
  .results {
    max-width: 30rem;
    margin-bottom: 0;
  }

  .scores {
    max-width: 30rem;
    margin-bottom: 0;
  }
}

.item {
  display: flex;
  justify-content: space-between;

  &__filler {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:after {
      content: " ......................................................................................"
    }

    &__value {
      flex-shrink: 0;
    }
  }
}

.statistics-footer {
  display: none;
  position: fixed;
  animation-name: appear;
  animation-duration: 1.5s;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2.2rem 2.2rem 1rem 2.2rem;
  background: linear-gradient(360deg, #E5E5E5 75%, rgba(239, 243, 239, 0) 100%);
}

@media only screen and (min-width: 994px) {
  .statistics-footer {
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
  }
}

.statistics {
  & p {
    font-size: 1.4rem;
  }

  & span {
    font-weight: 600;
  }

  &__lives {
    display: flex;
    align-items: center;
  }

  &__heart {
    padding-left: .2rem;
  }

  &__button {
    font-family: Noto Serif JP;
    font-weight: normal;
    font-size: 1.2rem;
    letter-spacing: 0.08em;
    text-decoration-line: underline;
    padding-bottom: .5rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 994px) {
  .statistics {
    &__button {
      font-size: 1.4rem;
      padding-left: 0;
    }
  }
}

.losing-section {
  animation-name: appear;
  animation-duration: 1.5s;
}

.losing-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-top: 4.5rem;
  }

  &__image {
    padding: 1rem 0 2rem 0;
  }

  &__button {
    position: relative;
    margin: 1.5rem auto;
    width: 13.6rem;
    height: 3.6rem;
    background: #FFFFFF;
    border: 1px solid #9A908B;
    text-decoration: underline;
    font-family: Noto Serif JP;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
  }
}